
<% @user = current_user %>


<div class="page-header">
<div style="text-align: center; vertical-align: middle;">
	<%= image_tag("main.jpg", :alt => "decoration") %>
</div>
</div>

<div class="span3">
<ul class="nav nav-pills nav-stacked">
  <li class="active">
      <span class="badge pull-right"> <%= @user.book_comments.count %> </span>
      My books reviews
  </li>

  <li class="active">
      <span class="badge pull-right"> <%= @user.friends.count %>  </span>
      My friends
  </li>

</ul>
</div>

<div class="span9"></div>






